@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Source+Sans+Pro&display=swap');

:root {
  --primary: #000;
  --secondary: #fff;
  --shade: #ddd;
  --accent: #d25a2d;
  --max-w: 1300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  margin: auto;
  width: 100%;
  max-width: var(--max-w);
}

.logo {
  font-size: 1.5rem;
  font-family: 'Crimson Pro', serif;
}

.logo a {
  text-decoration: none;
  color: var(--accent);
}

.logo span {
  font-size: 0.9rem;
  color: var(--primary);
}

.btn,
.input {
  font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2 {
  font-family: 'Crimson Pro', serif;
}

/* Buttons */
.btn {
  padding: 5px 10px;
  display: inline-block;
  border: none;
  background: none;
  font-size: 1rem;
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
  transition: 0.08s ease;
}

.btn--primary {
  color: var(--secondary);
  background: var(--primary);
}

.btn--accent {
  color: var(--secondary);
  background: var(--accent);
}

.btn--outline {
  background: none;
  box-shadow: inset 0 0 0 1.5px var(--primary);
}

.btn--outline:hover,
.btn--outline:focus {
  color: var(--secondary);
  background: var(--primary);
}

.btn--icon {
  display: flex;
  align-items: center;
}

.btn--icon .btn-text {
  margin: auto;
}

.btn--search {
  background: none;
}

.input {
  padding: 5px 10px;
  background: var(--secondary);
  border: solid 1px var(--primary);
  outline: none;
}

.input--search {
  padding: 10px 20px;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: solid 1px var(--shade);
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: var(--secondary);
  box-shadow: 0 2px 2px var(--shade);
  z-index: 10;
}

.navbar .container .navbar-top {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .search {
  padding: 5px 10px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: var(--secondary);
  display: none;
}

.navbar .search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--shade);
  overflow: hidden;
}

.navbar .search .input {
  display: block;
  border: none;
}

.navbar .search .input:nth-child(2) {
  margin: 0 10px;
  border-left: solid 1px var(--shade);
  border-right: solid 1px var(--shade);
}

.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu .menu-item {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: var(--primary);
}

.add-form .container {
  padding: 20px;
}

.add-form .product-details {
  margin: auto;
}

.add-form .image-preview,
.add-form .description-input {
  margin: auto;
}

.add-form .btn {
  margin: 20px auto;
  display: block;
}

.add-form .container form img {
  max-width: 400px;
  max-height: 400px;
}

.add-form input,
.add-form label {
  margin: 10px 0;
  display: block;
}

.add-form input,
.add-form .input {
  width: 100%;
}

/* Footer */
.footer {
  padding: 20px;
  position: relative;
  bottom: 0;
  text-align: center;
  color: var(--secondary);
  background: var(--primary);
}

/* 
  --md: 450px;
  --lg: 1024px;
 */
@media screen and (min-width: 450px) {
  .logo {
    font-size: 1.8rem;
  }

  .btn,
  .input {
    padding: 8px 16px;
  }

  .navbar .search--toggle {
    display: none;
  }

  .navbar::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: var(--primary);
  }

  .navbar .search {
    padding: 0;
    position: relative;
    display: block;
  }

  .add-form .product-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .add-form input,
  .add-form .input {
    max-width: 300px;
  }
}
